<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Redirigiendo a Webpay...</title>
  </head>
  <body>
    <p>Redirigiendo al formulario de pago, por favor espere...</p>
    <form id="webpay_form" action="{{ url }}" method="POST">
      <input type="hidden" name="token_ws" value="{{ token }}">
      <noscript>
        <p>Si no es redirigido automáticamente, haga clic en el botón:</p>
        <button type="submit">Pagar</button>
      </noscript>
    </form>
    <script>
      document.getElementById('webpay_form').submit();
    </script>
  </body>
</html>
